<html>
<head>
<style>
body { color: #3f312e; background: #D8D8D8; font: 14px Helvetica, Arial, Sans-serif; }
a { color: #4f4f4f; }
#container { overflow: auto; width: 960px; margin: 0 auto; padding: 30px; }
#content { width: 960px; min-height: 500px; margin: 0 auto; background: #fff; overflow: auto; }
#contentleft { width: 580px; float: left; margin-right: 20px; padding: 20px; }
#contentleft h1 { font-size: 24px; margin-top: 0px; text-align: center; }
#contentleft h2 { font-size: 18px; }
</style>
</head>
<body>

<div id="container">
<div id="content">
<div id="contentleft">
<h1>Fight Club</h1>
<h2>Description:</h2>
<p>An insomniac office worker, looking for a way to change his life, crosses
paths with a devil-may-care soap maker, forming an underground fight club that
evolves into something much, much more.
<h2>Storyline:</h2>
<p>A ticking-time-bomb insomniac and a slipper soap salesman channel primal
male aggression into a shocking new form of therapy. Their concept catches on,
with underground "fight clubs" forming in every town, until an eccentric gets
in the way and ignites an out-of-control spiral toward oblivion.</p>
<h2>Director:</h2> <p>David Fincher</p>
<h2>Stars:</h2> <p>Brad Pitt, Edward Norton, Meat Loaf</p>
</div>
</div>
</div>

</body>
</head>
</html>
