<html>
<head>
<style>
body { color: #3f312e; background: #D8D8D8; font: 14px Helvetica, Arial, Sans-serif; }
a { color: #4f4f4f; }
#container { overflow: auto; width: 960px; margin: 0 auto; padding: 30px }
#content { width: 960px; min-height: 500px; margin: 0 auto; background: #fff; overflow: auto; }
#contentleft { width: 580px; float: left; margin-right: 20px; padding: 20px; }
#contentleft h1 { font-size: 24px; margin-top: 0; text-align: center; }
#contentleft h2 { font-size: 18px; }
</style>
</head>
<body>

<div id="container">
<div id="content">
<div id="contentleft">
<h1>Reservoid Dogs</h1>
<h2>Description:</h2>
<p>After a simple jewelry heist goes terribly wrong, the surviving criminals
begin to suspect that one of them is a police informant.</p>
<h2>Storyline</h2>
<p>Six criminals, who are strangers to each other, are hired by a crime boss,
Joe Cabot, to carry out a diamond robbery. Right at the outset, they are given
false names with the intetion that they won't get too close and will
concentrate on the job instead. They are completely sure that the robbery is
going to be a success. But, when the police show up right at the time and the
site of robbery, panic spreads amongst the group members, and two of them are
killed in the subsequent shootout, along with a few policemen and civilians.
When the remaining people assemble at the premeditated rendezvous point(a
warehouse), they begin to suspect that one of them is an undercover cop.</p>
<h2>Director:</h2><p>Quentin Tarantino</p>
<h2>Stars:</h2><p>Harvey Keitel, Tim Roth, Michael Madsen</p>

</div>

</div>
</div>

</body>
</head>
</html>
