<html>
<head>
<style>
body { color: #3f312e; background: #D8D8D8; font: 14px Helvetica, Arial, Sans-serif; }
a { color:#4f4f4f; }
#container { overflow: auto; width: 960px; margin: 0 auto; padding: 30px }
#content { width: 960px; min-height: 500px; margin: 0 auto; background: #fff; overflow: auto; }
#contentleft { width:580px; float: left; margin-right: 20px; padding: 20px; }
#contentleft h1 { font-size: 24px; margin-top:0; text-align: center; }
#contentleft h2 { font-size: 18px; }
</style>
</head>
<body>

<div id="container">
<div id="content">
<div id="contentleft">
<h1>Scarface</h1>
<h2>Description:</h2>
<p>In Miami in 1980, a determined Cuban immigrant takes over a drug cartel and
succumbs to greed.</p>
<h2>Storyline:</h2>
<p>Tony Montana manages to leave Cuba during the Mariel exodus of 1980. He
finds himself in a Florida refugee camp but his friend Manny has a way out for
them: undertake a contract killing and arrangements will be made to get a green
card.He's soon working for drug dealer Frank Lopez and shows his mettle when a
deal with Colombian drug dealers goes bad. Tony's outrageous actions make him a
target and everything comes crumbling down.</p>
<h2>Director:</h2><p>Brian De Palma</p>
<h2>Stars:</h2><p>Al Pacino, Michelle Pfeifer, Steven Bauer</p>


</div>

</div>
</div>

</body>
</head>
</html>
