<html>
<head>
<style>
body { color: #3f312e; background: #D8D8D8; font: 14px Helvetica, Arial, Sans-serif; }
a { color: #4f4f4f; }
#container {overflow: auto; width: 960px; margin: 0 auto; padding: 30px }
#content { width: 960px; min-height: 500px; margin: 0 auto; background: #fff; overflow: auto; }
#contentleft { width: 580px; float: left; margin-right: 20px; padding: 20px; }
#contentleft h1 { font-size: 24px; margin-top: 0; text-align: center; }
#contentleft h2 {font-size: 18px; }
</style>
</head>
<body>

<div id="container">
<div id="content">
<div id="contentleft">
<h1>The Godfather</h1>
<h2>Description:</h2>
<p>The aging patriarch of an organized crime dynasty transfers control of his
clandestine empire to his reluctant son.</p>
<h2>Storyline:</h2>
<p>When the aging head of a famous crime family decides to transfer his
position to one of his subalterns, a series of unfortunate events start
happening to the family, and a war begins between all the well-known families
leading to insolence, deportation, murder and revenge, and ends with the
favorable successor being finally chosen.</p>
<h2>Director:</h2><p>Francis Ford Coppola</p>
<h2>Stars:</h2><p>Marlon Brando, Al Pacino, James Caan</p>
</div>

</div>
</div>

</body>
</head>
</html>
